.investment-form{
    background: #f8f9fa;
     padding: 25px;
      border-radius: 10px; 
      margin-bottom: 30px;
}

.investment-form-page {
 padding: 9px 20px;
 background-color: white;
}

.add-btn {
  width: 100%;
  background: linear-gradient(90deg, #6b5bfa, #8e52f5);
  color: white;
  font-size: 18px;
  font-weight: 600;
  border: none;
  padding: 14px 0;
  border-radius: 10px;
  margin-top: 25px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.add-btn:hover {
  background: linear-gradient(90deg, #7c69fc, #9b63f8);
  transform: translateY(-2px);
  box-shadow: 0 6px 15px rgba(108, 74, 255, 0.3);
}

.add-btn:active {
  transform: translateY(0);
  box-shadow: none;
}

@media (max-width: 768px) {
  .add-btn {
    font-size: 16px;
    padding: 12px 0;
  }
}

@media (max-width: 480px) {

  .add-btn {
    font-size: 15px;
  }
}
